body {
    font-family: 'Montserrat', sans-serif;
    color: #6C6C6C;
    line-height: 1.3;
    font-size: 15px;
    letter-spacing: 1px;
}

a {
    text-decoration: none !important;
    transition: 0.3s;
}

.container {
    max-width: 1400px;
}

.hover1:hover {
    color: #3A7AC8;
}

.headerTopBar {
    background: #6C6C6C;
    padding: 13px 0px;
    color: #fff;
}

.headerTopBarLeft a {
    color: #fff;
    margin-right: 20px;
    font-size: 15px;
}

.headerTopBarLeft a i {
    margin-right: 10px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header_social li {
    display: inline-block;
    margin-right: 16px;
}

.header_social li a {
    line-height: 1.4;
    font-size: 16px;
    color: #fff;
}

.headerTopBarCntent {
    display: flex;
}

.headerTopBarLeft,
.headerTopBarRight {
    flex: 0 0 50%;
    max-width: 50%;
}

.headerTopBarRight {
    text-align: right;
}

.mainbannerImg {
    width: 100%;
    object-fit: cover;
    max-height: 90vh;
}

.headerMiddleBar {
    padding: 13px 0px;
}

.headerMiddleBarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerMiddleBarRight ul li {
    display: inline-block;
    padding: 0 10px;
}

.headerMiddleBarRight ul li a {
    font-weight: 500;
    color: #6C6C6C;
    display: inline-block;
}

.headerMiddleBarRight ul li:last-child a {
    background-color: #3A7AC8;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
}

.position-relative {
    position: relative;
}

.Btn1 {
    display: inline-block;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
    background: #3b7ac9;
    height: 48px;
    padding: 0px 50px 0px 30px;
    line-height: 46px;
    position: relative;
    z-index: 2;
    font-size: 14px;
    letter-spacing: .28px;
    text-align: center;
    border-radius: 30px;
    position: relative;
}

.Btn1:after {
    content: "";
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA70lEQVR4nO3YMS4FURSA4YNChEpnA0oLsIMnL5FI7IFFkFBTKrUqbwUaHb0aQSEEnUYin7xEgnHVcibnq6eYP7lz77kTUUoppZRSSiZYxzPusRpZ4cmXNwwiIzz66RXLkXRpvXdiXrAU2WDDbw9YjGyw1Yi5xEJkg71GzAXmIxNM4LARc465yARTOG7EnGA6MsEMThsxo3Fo9+EVXMvnoBtyK6/dvoTsfA8Z4Er2pZX0Yz/CZCTafkept19/H4hnmI0ssJ9+RMF2+qERm+nHeKz14mKFm75cde/68vNh+BkzHmCH//0+pZRSSimlZz4AGt/lT4HxyykAAAAASUVORK5CYII=");

    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    right: 18px;
    background-size: 100% 100%;

}

.Btn1:hover {
    color: #fff;
    background-color: #6C6C6C;
}

.HeroBannerContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

.Htxt1 {
    color: #fff;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 600;
}

.Htxt2 {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 25px;
    font-weight: 500;
}

.mainbanner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    position: absolute;
}

.AboutUs1 {
    padding: 80px 0px;
}

.fullWidth {
    width: 100%;
}

.Abt1 {
    font-size: 45px;
    font-weight: 600;
    color: #3A7AC8;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.Abt2 {
    font-size: 18px;
    font-weight: 500;
    color: #3A7AC8;
    margin-bottom: 20px;

}

.Abt3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.pd-common {
    padding: 80px 0px;
}

.bg-light {
    background-color: #F7F5F5 !important;
}

.St1 {
    font-size: 45px;
    font-weight: 600;
    color: #3A7AC8;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.St2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.ServiceItemT4 {
    text-align: right;
}

.ServiceItemT1 img {
    width: 60px;
    margin-bottom: 15px;
}

.ServiceItem {
    padding: 20px;
    background: #fff;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: 0.3s;
    cursor: pointer;
    min-height: 430px;
    padding-bottom: 50px;
    position: relative;
}

.hoverImage {
    display: none;
}

.ServiceItemT2 {
    font-size: 17px;
    color: #3A7AC8;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.ServiceItemT3 {
    font-size: 17px;
    margin-bottom: 15px;
}

.ServiceItem:hover {
    background-color: #3A7AC8;
}

.ServiceItem:hover .actual {
    display: none;
}

.ServiceItem:hover .hoverImage {
    display: block;
}

.ServiceItem:hover .ServiceItemT2 {
    color: #fff;
}

.ServiceItem:hover .ServiceItemT3 {
    color: #fff;
}

.ServiceItem:hover .Btn1View {
    background-color: #6C6C6C;
}

.Btn1View {
    width: 50px;
    height: 35px;
    position: relative;
    background-color: #3A7AC8;
    display: inline-block;
    border-radius: 30px;
}

.Btn1View:after {
    content: "";
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA70lEQVR4nO3YMS4FURSA4YNChEpnA0oLsIMnL5FI7IFFkFBTKrUqbwUaHb0aQSEEnUYin7xEgnHVcibnq6eYP7lz77kTUUoppZRSSiZYxzPusRpZ4cmXNwwiIzz66RXLkXRpvXdiXrAU2WDDbw9YjGyw1Yi5xEJkg71GzAXmIxNM4LARc465yARTOG7EnGA6MsEMThsxo3Fo9+EVXMvnoBtyK6/dvoTsfA8Z4Er2pZX0Yz/CZCTafkept19/H4hnmI0ssJ9+RMF2+qERm+nHeKz14mKFm75cde/68vNh+BkzHmCH//0+pZRSSimlZz4AGt/lT4HxyykAAAAASUVORK5CYII=");

    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 15px;
    background-size: 100% 100%;

}

.ServiceItemT4 {
    position: absolute;
    left: -20px;
    bottom: 20px;
    width: 100%;
}

.juridictions {
    background-image: url(../images/abt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 170px 0px;
}

.juridictions::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.Service23 {
    margin-top: 20px;
}

.juridictionsVnt {
    text-align: center;
    position: relative;
    z-index: 2;
    color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.Jrt1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.Jrt2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.HdrTp1C {
    display: flex;
}

.HdrTp1CL {
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 45px;
    font-weight: 600;
    color: #3A7AC8;
    text-transform: uppercase;
}

.HdrTp1CR {
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 18px;
    font-weight: 500;
}

.HdrTp1 {
    margin-bottom: 30px;
}

.Row1c {
    display: flex;
    align-items: center;
}

.Row1cL {
    flex: 0 0 120px;
    max-width: 120px;
    text-align: center;
}

.Doti {
    width: 20px;
    height: 20px;
    background-color: #3A7AC8;
    border-radius: 50%;
    display: inline-block;
}

.Row1cM {
    flex: 0 0 450px;
    max-width: 450px;
    font-size: 16px;
    font-weight: 500;
    color: #3A7AC8;
    text-transform: uppercase;
}

.Row1cR {
    flex: auto;
    font-size: 16px;
    font-weight: 500;
}

.Row1 {
    background-color: #F7F5F5;
    padding: 25px 15px;
    margin-bottom: 20px;
}

.Service23 a {
    min-width: 220px;
}

.PartnerImage {
    padding: 20px;
    margin-right: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    height: 110px;
    border-radius: 30px;
}

.PartnerImage img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 180px;

}

.SliderBox .slick-dots li button,
.SliderBox .slick-dots li {
    width: 50px;
    height: 5px;
    border-radius: 20px;
    padding: 0;
}

.SliderBox .slick-dots li button:before {
    width: 50px;
    content: none;
}

.SliderBox .slick-dots li button {
    background-color: #6C6C6C;
}

.SliderBox .slick-dots li.slick-active button {
    background-color: #3A7AC8;
}

.SliderBox .slick-dots {
    bottom: -50px;
}

.testimonials {
    background-color: #3A7AC8;
    background-image: url(../images/testbg.png);
    background-repeat: repeat;
}

.TestimonialSliderBox {
    max-width: 800px;
    margin: 0 auto;
}

.Commat {
    width: 77px;
    height: 61px;
    background-image: url(../images/comma.png);
    background-size: 100% 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.TestImageSpan {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #C4D99F;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}

.TestSlickItem {
    color: #fff;
}

.TestName {
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.TestPosition {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.TestDesc {
    font-size: 18px;
}

/* .slick-prev, .slick-next{
    display: none !important;
} */

.TestimonialSliderBox .slick-dots li button,
.TestimonialSliderBox .slick-dots li {
    width: 50px;
    height: 6px;
    border-radius: 20px;
    padding: 0;
}

.TestimonialSliderBox .slick-dots li button:before {
    width: 50px;
    content: none;
}

.TestimonialSliderBox .slick-dots li button {
    background-color: #6C6C6C;
}

.TestimonialSliderBox .slick-dots li.slick-active button {
    background-color: #fff;
}

.TestimonialSliderBox .slick-dots {
    bottom: -50px;
}

.slick-prev,
.slick-next {
    width: 45px;
    height: 45px;
    z-index: 5;
}

.slick-prev {
    left: -45px;
}

.slick-next {
    right: -35px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 45px;
}

.SliderBox .slick-prev:before,
.SliderBox .slick-next:before {
    color: #3A7AC8;

}

.contactus {
    background-image: url(../images/contactus.jpg);
    background-size: cover;
    color: #fff;
    position: relative;
    padding: 150px 0px;
}

.contactus::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.contContent {
    position: relative;
    z-index: 2;
}

.ContTxt1 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}

.ContTxt2 {
    font-size: 18px;
}

.ContBox {
    padding: 25px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 500px;
}

.ContBoxT1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.ContBoxT2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.contContent .row {
    align-items: end;
}

.FooterLogo img {
    min-width: 220px;
}

footer .header_social li a {
    color: #3b7ac9;
    font-size: 28px;
}

.FooterDesc {
    margin: 30px 0px;
    font-weight: 500;
}

.FooterBottom {
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 15px 0px;
}

.footerLink1 {
    color: #3A7AC8;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}

.NewleterTxt1 {
    font-weight: 600;
    color: #3A7AC8;
    font-size: 20px;
    margin: 25px 0px;
    position: relative;
    padding-left: 50px;
}

.NewleterTxt1::before {
    content: "";
    width: 35px;
    height: 3px;
    background-color: #3A7AC8;
    position: absolute;
    left: 0;
    top: 10px;
}

.FormWrp input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #6C6C6C;
    height: 53px;
    box-shadow: none !important;
    outline: none;
}

.FormWrp {
    position: relative;
}

.FormWrp button {
    border: 0px solid #e4e4e4;
    position: absolute;
    top: 2px;
    right: 3px;
    cursor: pointer;
    box-shadow: none !important;
    outline: none;
}

.StickHeader header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 17%);
}

.StickHeader header .headerTopBar {
    display: none;
}

.mobile-only {
    display: none;
}

.SideNav {
    position: fixed;
    right: -200%;
    top: 0;
    width: 100%;
    padding: 60px 70px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    height: 100%;
    background: #0000004f;
    z-index: 100000;
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.4s;
}

.SideNavContent {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.CloseClick {
    width: 30px;
    position: absolute;
    top: -45px;
    right: -45px;
    height: 30px;
    display: inline-block;
}

.CloseBtn1 {
    background-image: url(../images/mobile/close.png);
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    display: inline-block;
}

.NavBox a {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    display: block;
    text-align: right;
    padding: 7px 0px;
}

.ActivePanel .SideNav {
    right: 0;
}

.contact-pop-up .OverLay {
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 991;
    display: none;
    cursor: pointer;
}

.activeform .contact-pop-up .OverLay {
    display: block;
}

.activeform .Popup1 {
    bottom: 0;
}

.Popup1 {
    padding: 20px;
    left: 0;
    width: 100%;
    margin-left: 0;
}



.Popup1 .ContactFrm1 {
    padding-left: 0px;
}
.Popup1 {
    padding: 30px;
    background-color: #3A7AC8;
    position: fixed;
    bottom: -200%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    z-index: 992;
    min-height: 50vh;
    border-radius: 30px;
    transition: 00.4s;
    border: 2px solid #fff;
}
.CF7Wrp .wpcf7-form-control {
    padding: 12px 20px;
    border-radius: 30px;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    display: block;
    border: 0px solid #e4e4e4;
    font-weight: 600;
}
.CF7Wrp .iti--separate-dial-code .iti__selected-flag {
    border-radius: 30px;
}
.intl-tel-input {
    position: relative !important;
    display: block !important;
    width: 100% !important;
}
.CF7Wrp .wpcf7-form-control.wpcf7-submit{
    background-color: #3A7AC8;
    cursor: pointer;
    color: #fff !important;
}
.CF7Wrp textarea.wpcf7-form-control{
    height: 70px;
}
.Popup1 .CF7Wrp .wpcf7-form-control.wpcf7-submit{
    background-color: #6C6C6C;;
}
.CF7Wrp ::placeholder {
    color: #6C6C6C;
    opacity: 1; /* Firefox */
  }
  .wpcf7-form-control{
    color: #6C6C6C !important;
  }
  .CF7Wrp :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #6C6C6C;
  }
  
  .CF7Wrp ::-ms-input-placeholder { /* Microsoft Edge */
   color: #6C6C6C;
  }
  .MainContent {
    overflow-x: hidden;
}

.OfficeTimeWrp {
    padding: 60px;
    background-color: #3A7AC8;
}
.OtT1 {
    font-size: 20px;
    font-weight: 700;
}
.OtT2 {
    background-color: #fff;
    width: 100%;
    height: 3px;
    display: block;
    margin: 20px 0px;
}
.OtT3 {
    font-style: italic;
    font-size: 20px;
}
.OtHr1 {
    padding: 20px;
    border-radius: 50px;
    background-color: #6C6C6C;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.OfficeTime{
    color: #fff;
}
.OtHourWrp{
    margin-top: 20px;
}
@media only screen and (max-width: 1000px) {
    .mt-0-mobile{
        margin-top: 0 !important;
    }
    .Popup1 {
        padding: 30px;
        background-color: #3A7AC8;
        position: fixed;
        bottom: -200%;
        left: 0;
        width: 100%;
        z-index: 992;
        min-height: 50vh;
        border-radius: 30px;
        transition: 00.4s;
        border: 2px solid #fff;
        margin-left: 0;
    }
    .mobile-only {
        display: block;
    }

    .halo-sticky-toolbar-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 8;
        box-shadow: 0 0 9px #0000001f;
        transition: transform .6s;
        background: #fff;
        border: 1px solid #fff;
        overflow: hidden;
    }

    .bottom-bar {
        padding: 3px 15px;
        min-height: 60px;
    }

    .bottom-bar--list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin: 0;
        align-items: center;
    }

    .bottom-bar--list li>a {
        padding: 7px 2px;
        display: block;
        pointer-events: auto;
        text-align: center;
        color: #212121;
    }

    .bottom-bar--list .icon img {
        max-width: 25px;
    }

    .bottom-bar--list .icon+.text {
        margin-top: 6px;
        line-height: 1;
        font-size: 11px;
    }

    

    .MenuImage {
        max-width: 25px;
    }

    .headerTopBar,
    .headerMiddleBarRight {
        display: none;
    }

    .HeroBannerContent {
        padding: 20px;
    }

    .Htxt1 {
        font-size: 32px;
    }

    .Htxt2 {
        font-size: 17px;
    }

    .MainLogo {
        max-width: 120px;
    }

    .headerMiddleBar {
        padding: 10px 0px;
    }

    .GetaQuoteM {
        background-color: #3A7AC8;
        color: #fff !important;
        padding: 10px 25px;
        border-radius: 30px;
    }

    .AboutUs1 {
        padding: 15px 0px;
    }

    .Abt1 {
        font-size: 24px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .Abt2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .Abt3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .Abt4 {
        margin-top: 20px;
    }

    .pd-common {
        padding: 20px 0px;
    }

    .St1 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .St2 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .ServiceItem {
        padding: 20px;
        background: #fff;
        border-radius: 30px;
        margin-bottom: 15px;
        transition: 0.3s;
        cursor: pointer;
        min-height: auto;
        padding-bottom: 20px;
        position: relative;
        text-align: center;
    }

    .ServiceItemT4 {
        display: none;
    }

    .Jrt2 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .HdrTp1CL {
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .HdrTp1CR {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .HdrTp1C {
        display: block;
    }

    .Jrt1 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .Row1c {
        display: block;
    }
    .Row1cL{
        display: none;
    }
    .HdrTp1CR{
        font-size: 16px;
    }
    .HdrTp1 {
        margin-bottom: 20px;
    }
    .Row1 {
        background-color: #F7F5F5;
        padding: 20px;
        margin-bottom: 15px;
    }
    .slick-prev, .slick-next{
        display: none !important;
    }
    .PartnerImage {
        padding: 10px;
        margin-right: 5px;
        background-color: #fff;
        margin-bottom: 15px;
        height: 110px;
        border-radius: 30px;
    }
    .SliderBox .slick-dots {
        bottom: -20px;
    }
    .SliderBox .slick-dots li button, .SliderBox .slick-dots li {
        width: 30px;
        height: 3px;
    }
    .TestImageSpan{
        font-size: 40px;
        width: 90px;
        height: 90px;
        margin-bottom: 15px;
    }
    .TestName{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .TestPosition{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .TestDesc{
        font-size: 16px;
    }
    .Commat{
        margin-bottom: 10px;
    }
    .TestimonialSliderBox .slick-dots{
        bottom: -25px;
    }
    .TestimonialSliderBox .slick-dots li button, .TestimonialSliderBox .slick-dots li{
        height: 3px;
        width: 30px;
    }
    .ContTxt1 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    br{
        display: none;
    }
    .contactus{
        padding: 60px 0px;
    }
    .ContTxt2 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .ContBoxT1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .ContBoxT2 {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .FooterDesc {
        margin: 15px 0px;
        font-weight: 500;
    }
    .SocialMediaIcons{
        margin-bottom: 15px;
    }
    .NewleterTxt1 {
        font-weight: 600;
        color: #3A7AC8;
        font-size: 18px;
        margin: 15px 0px;
        position: relative;
        padding-left: 50px;
    }
    .FormWrp input{
        height: 40px;
    }
    .FormWrp button{
        height: 33px;
        line-height: 1;
        top: 3px;
    }
    footer .Btn1:after{
        top: 8px;
    }
}